In [39]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [40]:
ds = pd.read_csv('../dataset/placement_clean.csv')
ds.head()

,Unnamed: 0,gender,10th p,10th b,12th p,12th b,stream,ug p,ug t,work exp,pg t,pg p,status
0,0,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,Mkt&HR,58.80,Placed
1,1,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,Mkt&Fin,66.28,Placed
2,2,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,Mkt&Fin,57.80,Placed
3,3,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,Mkt&HR,59.43,Not Placed
4,4,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,Mkt&Fin,55.50,Placed

In [41]:
X = ds.iloc[:, 1:-1].values
y = ds.iloc[:, -1].values

In [42]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0, 2, 4, 5, 7, 8, 9])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [43]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)

In [44]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [45]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
classifier.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [46]:
y_pred = classifier.predict(X_test)

In [47]:
from sklearn.metrics import precision_score
precision_score(y_test, y_pred, average='weighted')

0.7414174972314507

In [48]:
from sklearn.metrics import f1_score
f1_score(y_test, y_pred, average='weighted')

0.7423855963990997

In [49]:
from sklearn.metrics import recall_score
recall_score(y_test, y_pred, average='weighted')

0.7441860465116279